.postCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 350px;
}

.postCardContainer::-webkit-scrollbar {
  display: none;
}

.postCardContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.postCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.postCard.selected {
  border: 0.5px solid #000;
}

.postCardComment {
  text-align: center;
  color: #5f6368;
  margin-bottom: 10px;
}

.selectBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
