.containerOther {
  display: flex;
  min-height: 400px;
  min-width: 80%;
  padding: 15px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.containerMy {
  display: flex;
  min-height: 400px;
  min-width: 60%;
  padding: 15px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.xmarkImg {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-bottom: 10px;
}

.xmarkImg img {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: flex-end;
}

.containerTitle {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.horizontalRule {
  width: 272px;
  height: 2px;
  background-color: #02C26F;
  border-radius: 5px;
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 */
  z-index: 2;
}

.finishSelectOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 */
  z-index: 3;
}

.finishSelectContainer {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 4;
}