.MainContainer {
  position: relative;
  max-width: 450px;
  height: 100vh;
  height: 100svh;
}

.postBoxContainer {
  height: 350px;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.postBoxContainer::-webkit-scrollbar {
  display: none;
}

.postBoxContainer {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.letterBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열로 설정 */
}

.test {
  border: 1px solid black;
  width: 100%;
  height: 10px;
}
