.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.receiveLetterContainer {
  width: 100vw;
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.receiveLetterBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  height: 50%;
  background: #fff;
  padding: 20px;
}

.xmarkImg {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.xmarkImg img {
  width: 5%;
  display: flex;
  justify-content: flex-end;
}

.topPostCardImg {
  width: 25%;
  position: absolute;
  top: -35px;
  left: -15px;
  transform: rotate(45deg);
}

.letterToUser {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-family: "GangwonEduAll-Light";
  font-size: 35px;
}

.letterContent {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 15px;
  font-family: "GangwonEduAll-Light";
  font-size: 25px;
  text-align: center;
  overflow: scroll;
}

.letterContent::-webkit-scrollbar{
  display: none;
}

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "GangwonEduAll-Light";
  align-items: center;
  margin-top: 15px;
}

.report {
  font-size: 20px;
}

.FromUser {
  font-size: 35px;
}
