.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.sendLetterContainer {
  width: 35vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}

.sendLetterBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  height: 80%;
  background: #ffe1f5;
  padding: 20px;
  margin-bottom: 10px;
}

.xmarkImg {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.topPostCardImg {
  position: absolute;
  top: -20px;
  left: -5px;
  transform: rotate(45deg);
}

.ToUser {
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-family: "HandWrite-DaHaeng";
  font-size: 35px;
}

.letterContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  padding: 15px;
}

.letterContent textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  resize: none;

  padding: 5px;
  font-size: 1rem;
  outline: none;
}

.sendUserName {
  position: absolute;
  bottom: 0;
}

.contentCount {
  font-family: "HandWrite-DaHaeng";
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
