.btn {
  margin-top: 30px; 
  width: 280px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.btn.one{
  background: #FE3D8B;
  box-shadow: 0px 4px 0px #A40042;
}

.btn.two{
  background: #FF8D2C;
  box-shadow: 0px 4px 0px #C15900;
}

.btn.three{
  background: #FEB713;
  box-shadow: 0px 4px 2px #916705;
}

.btn.four{
  background: #79CC2C;
  box-shadow: 0px 4px 2px #377300;
}

.btn.five{
  background: #58A4FE;
  box-shadow: 0px 4px 2px #004699;
}

.btn.six{
  background: #02C26F;
  box-shadow: 0px 4px 2px #009152;
}

.btn.seven{
  background: #8C3EEE;
  box-shadow: 0px 4px 2px #4F00B3;
}

.btn.eight{
  background: #FF41C1;
  box-shadow: 0px 4px 2px #AF0076;
}

.btn.nine{
  background: #454545;
  box-shadow: 0px 4px 2px #313332;
}

.word{
  font-size: 24px;
  color: white;
}
