.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  height: 100svh;
  overflow: hidden;
  background: linear-gradient(white, skyblue);
}

.logo {
  position: absolute;
  width: 90%;
  top: 17%;
  display: flex;
  justify-content: center;
}

.home {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 95%;
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: "pointer";
  position: absolute;
  bottom: 5%;
  /* 
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 1;
}

.buttons img {
  height: 70px;
  cursor: "pointer";
}

.testButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4a4f5a;
  padding: 10px;
  width: 264px;
  height: 43px;
  font-size: 18px;
  text-decoration: underline;
  text-underline-position: under;
}

.testButton:hover {
  font-weight: bold;
}

.guestButton {
  background-color: #000;
  color: #fff;

  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.1s;
  width: 100%;
}

.guestButton:hover {
  background-color: #6a6a6a;
}
