.Container {
  width: 300px;
  height: 185px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  background: #FFFFFF;
  z-index: 999;
}

.ContentContainer {
  height: 120px;
  display: flex;
  align-items: center;
  font-family: Pretendard-SemiBold;
  font-size: 20px;
}

.ButtonContainer {
  width: 80%;

  display: flex;
  justify-content: space-between;
}

.Button {
  width: 100px;
  height: 30px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Pretendard-SemiBold;
  font-size: 15px;
}
