.Container {
  width: 300px;
  height: 185px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.ContentContainer {
  height: 120px;
  display: flex;
  align-items: center;
  font-family: Pretendard-SemiBold;
  font-size: 20px;
}

.HorizontalLine {
  width: 250px;
  border: 1px solid #e8e8e8;
  position: absolute;
  top: 120px;
}

.VerticalLine {
  height: 40px;
  border: 1px solid #e8e8e8;
  position: absolute;
  top: 133px;
}

.ButtonContainer {
  position: absolute;
  top: 120px;
  display: flex;
  flex-direction: row;
}

.Button {
  width: 150px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard-SemiBold;
  font-size: 20px;
}
