.RoomNameBtn {
  background-color: #ffffff; /* 배경색 */
  border-radius: 40em; /* 모서리 둥글게 */
  border-style: none; /* 테두리 없음 */
  box-shadow: #adcfff 0 -8px 12px inset; /* 내부 그림자 효과 */
  box-sizing: border-box; /* 박스 크기 계산 방식 */
  color: #000000; /* 글자 색상 */
  display: flex; /* Flexbox 레이아웃 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  /* font-family: -apple-system, sans-serif; 폰트 스타일 */
  font-size: 18px; /* 글자 크기 */
  font-weight: 700; /* 글자 굵기 */
  letter-spacing: -0.24px; /* 자간 조정 */
  margin: 0; /* 외부 여백 없음 */
  outline: none; /* 외곽선 없음 */
  padding: 1rem 1.3rem; /* 내부 여백 */
  text-align: center; /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 텍스트 밑줄 없음 */
  width: 70%; /* 너비 */
  height: 50px; /* 높이 */
}