.Container {
  height: 100vh;
  height: 100svh;
  background: #ffebf4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "GangwonEduAll-Light";
}

.ContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  bottom: 5%;
  margin-bottom: 5%;
}


.StartButton {
  background: #fff;
  width: 280px;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}


.dingdongButton {
  background: #fff;
  width: 280px;
  height: 50px;
  border-radius: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}