.Container {
  height: 100vh;
  height: 100svh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* font-family: "GangwonEduAll-Light"; */
  background: linear-gradient(180deg, #9ed0ff 0%, #ffffff 100%);
}

.ContentContainer {
  width: 320px;
  height: 65%;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 5%; */
  position: relative;
}

.Question {
  width: 100%;
  text-align: center;
  margin-top: 20%;
  font-size: 24px;
  white-space: pre-line;
}

.AnswerContainer {
  position: absolute;
  top: 40%;
}

.Answer {
  width: 240px;
  height: 75px;
  background: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: pre-line;
  background: #ffffff;
  border: 2px solid #2998fe;
  border-radius: 10px;
  box-shadow: 0px 4px 0px #9ad0ff;
}

.FooterNumber {
  position: absolute;
  bottom: 0px;
  margin-bottom: 5%;
  font-size: 16px;
}
