.Container {
  height: 100vh; 
  background: #ffebf4;
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
  align-items: center; 
  font-family: "GangwonEduAll-Light";
} 

.ContentContainer { 
  font-size: 28px; 
  bottom: 5%;
  margin-bottom: 5%;
}

.StartButton {  
  background: #fff;
  width: 280px;
  height: 50px;
  border-radius: 15px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;  
}
