.Container {
  height: 100vh;
  background: #ffebf4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "HandWrite-DaHaeng";
}

.ContentContainer {
  font-size: 28px;
  margin-bottom: 10%;
}

.StartButton {
  background: #fff;
  width: 280px;
  height: 50px;
  border-radius: 15px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 10%;
}
