.Container {
  height: 100vh;
  height: 100svh;
  background: #ffebf4;
  display: flex;
  justify-content: center;
}

.SemiContainer {
  width: 80%;
  height: 100vh;
  height: 100svh;
}

.TitleContainer {
  margin-top: 50px;
}

.Title {
  font-size: 35px;
  font-family: "Pretendard-Bold";
}

.SemiTitle {
  font-size: 15px;
  font-family: "Pretendard-SemiBold";
  margin-top: 20px;
  margin-bottom: 10px;
}

.TitleLine {
  border: 1px solid #f1c4e1;
}

.ContentContainer {
  margin-top: 30px;
}

.InputContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.Input {
  width: 85%;
  height: 40px;
  background: #fff;
  border: 3px solid #f1c4e1;
  border-radius: 20px;
  padding-left: 10px;
  font-family: "Pretendard-Regular";
  font-size: 15px;
}

.Input:focus {
  outline: none;
}

.SearchIcon {
  width: 30px;
  height: 30px;
}

.ResultContainer {
  margin-top: 30px;
}

.ButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.SelectButton {
  width: 80%;
  height: 60px;
  background: #f1c4e1;
}
