.MainModal {
  height: 185px;
  background: rgba(60, 60, 60, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ContentBox {
  width: 90%;
  height: 170px;
  background: rgba(33, 33, 33, 0.5);
  border-radius: 10px;
  display: flex;
}

.ContentContainer {
  width: 100%;
  height: 100%;
  margin: 20px;
  font-family: "Pretendard-Bold";
}

.Title {
  color: #727272;
  font-size: 20px;
  margin-bottom: 10px;
}

.Content {
  color: #fff;
  font-size: 20px;
}

.ConfirmContainer {
  margin-top: 10px;
}

.Confirm {
  color: #fff;
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
}
