.MainContainer {
  position: relative;
  max-width: 450px;
  height: 100vh;
  height: 100svh;
}

.postCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  height: 350px;
}

.postCardContainer::-webkit-scrollbar {
  display: none;
}

.postCardContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.postCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.postCardContainer img{
  width: 80%;
}

.postCard {
  margin-left: 10px;
  margin-right: 10px;
}

.postCard.selected {
  border-radius: 5px;
  box-shadow: 1px 2px rgba(194, 194, 194, 0.5);
}

.postCardComment {
  text-align: center;
  color: #5f6368;
  margin-bottom: 5%;
  margin-top: 5%;
}

.selectBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
