.furnitureContainer {
    z-index: 300;
    height: 100%;
    overflow-y: scroll;
}

/* 웹킷 브라우저의 스크롤바 스타일 수정 */
.furnitureContainer::-webkit-scrollbar {
    height: 100%;
    width: 0.5vh; 
}

.furnitureContainer::-webkit-scrollbar-track {
    display: none;
}

.furnitureContainer::-webkit-scrollbar-thumb {
    background: #d2d2d2;
    border-radius: 30px 30px 30px 30px;
}

.endPoint {
    z-index: 20000;
    width: 100%;
    height: 2vh;
    bottom: 0;
}

.furnitureContainer div img:hover {
    cursor: pointer;
}