.button {
  position: absolute;
  background-color: black;
  z-index: 3;
  color: white;
}

.rotationbtn {
  position: absolute;
  background-color: blue;
  z-index: 3;
  color: white;
  left: 100px;
}

canvas {
  width: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.randomButton {
}
