.button {
  position: absolute;
  background-color: black;
  z-index: 3;
  color: white;
}

.rotationbtn {
  position: absolute;
  background-color: blue;
  z-index: 3;
  color: white;
  left: 100px;
}

canvas {
  width: 100%;
}

.inviteContainer {
  width: 100%;
  background: linear-gradient(#FBC77A, #FF6F56);
  animation: gradient 10s linear infinite;
  height: 100vh;
  position: relative;
  height: 100svh;
  background-size: 400% 400%;
}
.container.dawn{
  width: 100%;
  background: linear-gradient(-45deg,#594871,#000000,#00008B);
  animation: gradient 5s linear infinite;
  height: 100vh;
  position: relative;
  height: 100svh;
  background-size: 200% 200%;
}

.container.morning{
  width: 100%;
  background: linear-gradient(-45deg,#4891f6, #64c1f4,#ffffff, #ff735a);
  animation: gradient 10s linear infinite;
  height: 100vh;
  position: relative;
  height: 100svh;
  background-size: 200% 200%;
}

.container.afternoon{
  width: 100%;
  background: linear-gradient(-45deg, #ee7752, #4891f6,#23d5ab, #de8f1a );
  animation: gradient 5s linear infinite;
  height: 100vh;
  position: relative;
  height: 100svh;
  background-size: 200% 200%;
}

.container.dinner{
  width: 100%;
  background: linear-gradient(-45deg,#594871,#000000,#00008B);
  animation: gradient 5s linear infinite;
  height: 100vh;
  position: relative;
  height: 100svh;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
  50% {
   background-position: 100% 50%;
  }
  100% {
   background-position: 0% 50%;
  }
}






.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.buttonContainer {
  position: absolute;
  bottom: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.randomButton {
  width: 200px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.randomImage {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10px;
}

.randomButtonContent {
  font-size: 20px;
  font-family: "Pretendard-Bold";
  margin-left: 20px;
}
