.Container {
  width: 330px;
  height: 60px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ProfileContainer img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  position: relative;
}

.StatusOnDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #049463;
  position: absolute;
  left: 45px;
  z-index: 2;
}

.StatusOffDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #c4c4c4;
}

.InfoContainer {
  width: 255px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
