.Container {
  width: 300px;
  height: 450px;
  border-radius: 10px;

  background: #FFFFFF;
}

.Title {
  width: 300px;
  height: 50px;

  text-align: center;
  line-height: 50px;

  font-size: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.ContentContainer {
  width: 300px;
  height: 290px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ContentContainer textarea {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  resize: none;
  border: none;

  text-align: center;
  font-size: 15px;
}

.ColorContainer {
  width: 300px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Colors {
  width: 245px;
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ColorCircle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.ButtonContainer {
  width: 300px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Button {
  width: 245px;
  height: 35px;
  border-radius: 10px;

  text-align: center;
  line-height: 35px;
}