@font-face {
  font-family: Pretendard-Bold;
  font-style: normal;
  src: url("./Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: Pretendard-SemiBold;
  font-style: normal;
  src: url("./Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: Pretendard-Medium;
  font-style: normal;
  src: url("./Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: Pretendard-Regular;
  font-style: normal;
  src: url("./Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "GangwonEduAll-Light";
  font-weight: 400;
  font-style: normal;
  src: url("./GangwonEduAllLight.woff2") format("woff2");

  font-display: swap;
}
@font-face {
  font-family: "GangwonEduAll-Bold";
  font-weight: 400;
  font-style: normal;
  src: url("./GangwonEduAllBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: GmarketSansMedium;
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: GmarketSansMedium;
}
