.wrap {
  position: absolute;
  z-index: 3;
  width: 100%;
  bottom: 50px;
}

.secondFooter {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.inviteFooter {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.circle {
  width: 200px;
  height: 50px;
  border-radius: 50px 50px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}


.background {
  margin: 0 20px;
  /* padding: 5px; */
}

.iconImage {
  width: 40px;
}
