.container {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;
}

.FloatingButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: #02C26F;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 10%;
  right: 2%;

  z-index: 2;
}

.Rotate {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.RotateBack {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.PlusButton {
  width: 20px;
  height: 20px;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 100000000;
}

.BtnList {
  display: flex;
  flex-direction: column;

  position: absolute;

  z-index: 100000001;
  right: 2.5%;
  bottom: 15%;
}

.actionsBtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.FloatContent {
  width: 100px;
  height: 35px;
  margin-right: 10px;

  text-align: end;
  line-height: 35px;
}

.IconButton {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FloatIcon {
  width: 30px;
  height: 30px;
}

.confirmModal {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.chatInputContainer {
  width: 100%;
  height: 50px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  background: #02C26F;
  padding: 10px;
}

.chatInputContainer input {
  width: 80%;
  height: 50px;
  border: #02C26F 2px solid;
  border-radius: 10px;
  padding-left: 5px;
  outline: none;
  font-size: 15px;
  font-family: "GmarketSansMedium";
}

.SendButton {
  width: 50px;
  height: 50px;
  border-radius: 10px;

  background: #02C26F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SendButton img {
  width: 30px;
  height: 30px;
}

