.container {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;
}

.FloatingButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: #02C26F;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 5%;
  right: 5%;

  z-index: 2;
}

.Rotate {
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.RotateBack {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.PlusButton {
  width: 20px;
  height: 20px;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 100000000;
}

.BtnList {
  display: flex;
  flex-direction: column;

  position: absolute;

  z-index: 100000001;
  right: 5.5%;
  bottom: 12%;
}

.actionsBtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.FloatContent {
  width: 100px;
  height: 35px;
  margin-right: 10px;

  text-align: end;
  line-height: 35px;
}

.IconButton {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FloatIcon {
  width: 30px;
  height: 30px;
}
