.modalOverlay {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 90%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  border-radius: 50px;

}

.modalContent {
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  width: 90%;
  z-index: 10000;
  padding: 20px;
}

.modalContent img{
  border-radius: 50px;
  margin-bottom: 5px;
}

.textarea {
  margin-top: 5px;
  width: 95%;         
  height: 50px;          
  background: transparent; 
  border: none;           
  font-size: 20px;        
  padding: 10px;           
  resize: none;           
  overflow: auto;          
  box-shadow: none;        
}

textarea:focus {
  outline: none;         
  border: none;           
}

.share{
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* z-index: 300000;
  bottom: 0;
  position: absolute; */
  /* background-color: white; */
  min-width: 280px;            
}

.shareRoom{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  z-index: 300000;
  position: absolute;
  bottom: 0;
  background-color: white; 
  min-width: 100%;            
} 


.shareItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shareItem img{
  padding: 10px 0;
}