.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 */
  z-index: 2;
}

.CardContainer {
  border-radius: 20px;
  z-index: 3;
}
