.wrap {
  position: absolute;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.header img {
  width: 40px;
  height: 40px;
}

.userName {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50px 50px;
  width: 50%;
  height: 50px;
  font-size: 20px;
}

/* 공유하기 이미지 */
.Share {
  position: absolute;
  top: 80px;
  left: 85%;
  z-index: 4;
}

/* 이웃 요청 CSS */
.Overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.AddNeighbor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;

  width: 300px;
  height: 185px;
  background: #fff;
  border-radius: 10px;
}

.MainContainer {
  position: relative;
  font-size: 20px;
}

.TitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 120px;
  font-family: Pretendard-SemiBold;
}

.HorizontalLine {
  width: 250px;
  border: 1px solid #e8e8e8;
  position: absolute;
  top: 120px;
  left: 25px;
}

.VerticalLine {
  height: 40px;
  border: 1px solid #e8e8e8;
  position: absolute;
  top: 133px;
  left: 150px;
}

.ButtonContainer {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 65px;
}

.Button {
  width: 150px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard-SemiBold;
}

/* 헤더 햄버거 모달 CSS */
.HamburgerModal {
  position: absolute;
  top: 0;
  z-index: 6;
  background: #fff;

  width: 160px;
  height: 150px;
  border-radius: 10px;
}
