.Container {
  height: 100vh;
  background: #ffebf4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "HandWrite-DaHaeng";
}

.ButtonContainer {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 24px;
}

.Button {
  width: 320px;
  height: 55px;
  text-align: center;
  line-height: 50px;
  border-radius: 15px;
  background: #fff;
  margin-bottom: 10px;
}
