.Container {
  height: 100vh;
  background: #ffebf4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "HandWrite-DaHaeng";
}

.PostImage {
  /* width: 320px;
  height: 419px;  */
  width: 100%;
  border-radius: 20px;
  margin-top: 10%;
  text-align: center;
}

.ButtonContainer {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 24px;
}

.Button {
  width: 320px;
  height: 40%;
  text-align: center;
  line-height: 50px;
  border-radius: 15px;
  background: #fff;
  margin-top: 5%;
  margin-bottom: 2%;
}
