.arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

.Container {
  height: 100svh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.titleContainer {
  font-family: Pretendard-Bold;
  font-size: 40px;
  margin-top: 20px;
  height: 10%;
  margin-left: 15%;
  /* text-align: center; */
}
.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.selectText {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nicknameContainer {
  display: flex;
  justify-content: center;
  font-family: "Pretendard-SemiBold";
  font-size: 16px;
  margin-bottom: 20px;
}

.characterContainer{
  width: 90%;
  margin: 5%;
}


.nicknameInput {
  border: 3px solid #049463;
  border-radius: 40px;
  width: 160px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
}

.nicknameInput:focus {
  outline: none;
}
.nicknameInput::placeholder {
  font-size: 14px;
}

.nicknameInput:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
  font-size: 10px;
}
.nicknameInput:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
  font-size: 10px;
}

.doubleCheck {
  width: 90px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid #049463;
  /* background-color: #049463; */
  text-align: center;
  line-height: 40px;
  color: black;
}

.doSignUpContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
