.arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

.Container {
  height: 100svh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  background-color: #fff;
}

.titleContainer {
  /* font-family: Pretendard-Bold; */
  font-size: 40px;
  margin-top: 20px;
  height: 10%;
  /* margin-left: 15%; */
  text-align: center;
}
.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.selectText {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nicknameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: "Pretendard-SemiBold"; */
  font-size: 16px;
  margin-bottom: 20px;
}



.alertMessageSuccess{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 15px;
  color: #02C26F;
}

.alertMessageError{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 15px;
  color: red;
}

.characterContainer{
  /* display: ; */
  width: 80%;
  margin: 10%;
}


.nicknameInputSuccess{
  border: 0;
  border-bottom: 3px solid #02C26F;
  /* border-radius: 40px; */
  width: 160px;
  height: 40px;
  text-align: center;
  /* margin-right: 10px; */
  font-size: 18px;
  /* font-weight: bold; */
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

.nicknameInputError{
  border: 0;
  border-bottom: 3px solid red;
  /* border-radius: 40px; */
  width: 160px;
  height: 40px;
  text-align: center;
  /* margin-right: 10px; */
  font-size: 18px;
  /* font-weight: bold; */
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
}


.nicknameInputSuccess:focus {
  outline: none;
}
.nicknameInputSuccess::placeholder {
  font-size: 14px;
}


.nicknameInputError:focus {
  outline: none;
}
.nicknameInputError::placeholder {
  font-size: 14px;
}


.nicknameInput:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
  font-size: 10px;
}
.nicknameInput:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
  font-size: 10px;
}

.doubleCheck {
  width: 90px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid #049463;
  /* background-color: #049463; */
  text-align: center;
  line-height: 40px;
  color: black;
}

.doSignUpContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  /* margin-top: 10px; */
}

.imgCheck{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgCheck img{
  position: absolute;
  width: 100px;
}