.arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

.Container {
  height: 100vh;
  margin: 65px 40px;
}

.titleContainer {
  font-family: Pretendard-Bold;
  font-size: 40px;
  margin-top: 40px;
}

.characterContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.charactersImages {
  width: 200px;
  height: 360px;
  border: 1px solid black;
}

.nicknameContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: "Pretendard-SemiBold";
  font-size: 16px;
}

.nicknameInput {
  border: 3px solid #fcc4d7;
  border-radius: 40px;
  width: 140px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
}

.doubleCheck {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid #fcc4d7;
  background-color: #fcc4d7;
  text-align: center;
  line-height: 40px;
}

.doSignUpContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
